

.logo {
  height: 50px;
}
.site-header {
  position: sticky;
  top: 0;
  z-index: 9999;
  background: #fffaf4;
}

/* NAVBAR */
.navbar {
  width: 95%;
  margin: 20px auto;
  padding: 18px 32px;
  background: #ffffff;
  border-radius: 22px;
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 42px;
}

.logo small {
  display: block;
  font-size: 12px;
  color: #666;
}

nav a {
  margin: 0 18px;
  text-decoration: none;
  color: #222;
  font-weight: 500;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.socials span {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 6px 8px;
  font-size: 14px;
}

.help-btn {
  background: #294d2b;
  color: #fff;
  border: none;
  padding: 10px 22px;
  border-radius: 30px;
  cursor: pointer;
}